@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navbar settings below*/

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav a {
  height: 100%;
  display: flex;
}

.nav a.active {
  background-color: #555;
}
.nav a:hover {
  opacity: 0.8;
  background-color: #777;
}

#link-img {
  border-radius: 50px;
  background-color: green;
}

.nav-input {
  color: black;
}

#backdrop {
  /* background-image: url("Cropped-pexels-photo-2956954.jpeg"); */
  background-size: 100vw;
  background-repeat: no-repeat;
}
/* #shopping-cart-link {
  background-color: palegreen;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
}*/

/* Navbar settings above */

img {
  width: 10%;
  height: auto;
}
img:hover {
  opacity: 0.8;
}

img {
  width: 10%;
  height: auto;
}
img:hover {
  opacity: 0.8;
}

#splash {
  border-style: solid;
  border-radius: 10px;
  border-width: 10px;
  border-color: rgb(180, 100, 30);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.splash-item {
  flex: 0 1 200px;
}

/* Single Product settings below*/

.product {
  display: flex;
  justify-content: space-between;
}

.productImg {
  flex-grow: 3;
}

.productDetails {
  flex-grow: 1;
  margin-top: 5em;
  font-size: x-large;
}

.product-span {
  font-weight: bold;
}

.add-item {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 1rem;
}

#navbar-input {
}

#quantity-input {
  display: flex;
  background-color: aqua;
}

/* Single Product settings above */
