@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navbar settings */

nav {
  display: flex;
  justify-content: center;
}

.topnav a,
form {
  float: left;
  display: block;
  flex-grow: 1;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  justify-content: space-between;
}

form {
  margin-top: 16px;
}


#splash {
  border-style: solid;
  border-radius: 10px;
  border-width: 10px;
  border-color: rgb(180, 100, 30);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flexBox01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}
.splash-item {
  flex: 0 1 200px;
  position: relative;
  margin-bottom: 10px;
}
#splash img {
  width: 10%;
  height: auto;
}
#splash img:hover {
  opacity: 0.8;
}
#allProducts img {
  width: 100%;
  height: auto;
}
#allProducts > div {
  border-style: solid;
  border-width: 13px;
  text-align:center;
}
#allProducts > div:hover {
  border-width: 7px;
}


